AreaRatio 45
Xmax_H_V_Dist 68
Xmin_H_V_Dist 28
Ymax_H_V_Dist 75
Ymin_H_V_Dist 34
decision-roi_OrAllPic 40
dilationsize 5
erosionsize 3
greenAlpha 140
kolmanThresh 56
max2VerticAreaSim 100
maxAngle 25
maxXDifVertPoles 100
maxYDifVertPoles 50
max_H_V_Leng 600
min2VerticAreaSim 40
minAngle 65
minCurves 5
minPixInObjInROI 1
minVertRectHeight 14
minWidthHorizonPole 14
minXDifVertPoles 50
min_H_V_Leng 150
objectImageFactor 3
originXInRoi 50
treshBlockSize 273
