Dilationsize 10
Erosionsize 3
Greenalpha 120
NormalArea 80
Redalpha 3
Yellowalpha 60
greenDev 40
inverseRatio 1
maxGreenKol 74
maxRadius 100
maxRedKol 180
maxYellowKol 30
maxmeancircle 75
maxmeanfakecircle 100
maxrectratio 500
minGreenKol 72
minRadius 5
minRectPercent 20
minRedKol 177
minYellowKol 26
minmeanfakecircle 76
minrectratio 0
minsizerect 408
param1 19
param2 20
percentKolamanThresh 50
redDev 40
yellowDev 40
